h1 {
    font-family: 'Oswald', sans-serif;
}

h2{
    font-family: 'Oswald', sans-serif;
}

h3{
    font-family: 'Oswald', sans-serif;
}

h4 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem !important;
}

ul{
    list-style-type: none;
    padding: 0;
}

body {
    width: 100% !important;
    -webkit-font-smoothing: antialiased;
    background-image: url("../pictures/wavegrid.png");
}

li {
    font-family: 'Oswald', sans-serif;
}

.info {
    font-size: 1.1rem !important;
}

.GameImage {
    max-height: 190px;
    border-radius: 10%;

}

.row01 {

    float:left;
    position: relative;
}

.test {
    grid-template-columns: 0.6fr 0.6fr 0.4% 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    display: grid;
}

.dimmer {
    background-color: rgba(0,0,0,0.41);
}

.MemberTab{
    grid-template-columns: 6fr 0.4% 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    display: grid;
}


.EducationTab{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    display: grid;
}

.box {
    background-color: black;
    height: 200px;
    text-align: center;
    color: white;
    vertical-align: center;
}

.Seperator {
    margin-top: 3%;
    height: 5px;
    width: 100%;
    background-color: black;

}

.divider{
 background: grey;
}

.ulInfo {
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    text-align: right;
}

.ulInfo2 {
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    padding: 0;
}

.row02 {
    float:right;
    position: relative;
}

.lead {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.linkTab{
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    display: grid;
    text-align: center;
}

.textLink{
    font-family: 'Oswald', sans-serif;
    color: black;
}

.col--8{
    width: 100% !important;
}


@media only screen and (max-width: 600px) {



 

}